 .img-Universal {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
 }
 .logo-img {
    background-image: url('../images/logo/logo_ezcvc2_c_scale\,w_600.png');
    background-size: contain;
 }
 .menu {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    overflow: auto;
    animation: menu-fadein 0.5s;
 }
 @keyframes menu-fadein {
   0% {width:0px;}
   100% {width:300px;}
 }
 .remove-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
 }
 .navbar {
    background-color: rgb(196, 7, 7);
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
 }
 .sidebar {
    display: flex;
    padding-top: 20px;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;
    background-color: rgb(102, 143, 231);
    position: fixed;
    bottom: 0;
    z-index: 97;
 }
.top-align{
   position: fixed;
   bottom: 50%;
   right:1%;
   font-size:25px;
   cursor: pointer;
}
.text {
    letter-spacing: 2px;
    animation: fadein 1s;
 }
 @keyframes fadein {
   0% {opacity: 0;}
   100% {opacity: 1;}
 }
 @media (max-width:600px){
   .top-align{
      display:none;
   }
 }
 @media (max-height:970px) {
    .navbar-Y {
      padding: 200px 0 50px 0;
    }
 }

 @media (max-height:800px) {
    .navbar-Y {
       padding: 300px 0 50px 0;
    }
    .homeNavbar-Y{
      padding: 200px 0 50px 0;
    }
 }

 @media (max-height:700px) {
    .navbar-Y {
      padding: 400px 0 50px 0;
    }
    .homeNavbar-Y{
      padding: 300px 0 50px 0;
    }
 }

 @media (max-height:600px) {
    .navbar-Y {
       padding: 500px 0 50px 0;
    }
    .homeNavbar-Y{
      padding: 400px 0 50px 0;
    }
 }
 @media (max-height:500px) {
   .navbar-Y {
      padding: 500px 0 50px 0;
   }
   .homeNavbar-Y{
      padding: 450px 0 50px 0;
    }
}