 .img-Universal {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
 }
 
 .navbar-img {
    background-image: url('https://images.pexels.com/photos/2387819/pexels-photo-2387819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 }
 
 .logo-img {
    background-image: url('../images/logo/logo_ezcvc2_c_scale\,w_600.png');
    background-size: contain;
 }

 .menu {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
 }

 .remove-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100%;
    top: 0;
 }

 .navbar {
    background-color: rgb(196, 7, 7);
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
 }

 .sidebar {
    display: flex;
    padding-top: 20px;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;
    background-color: rgb(102, 143, 231);
    position: fixed;
    bottom: 0;
    z-index: 97;
 }

 .text {
    letter-spacing: 2px;
 }